---
interface Props {
	filterAllLabel: string;
	statusWatchingLabel: string;
	statusPlannedLabel: string;
	statusCompletedLabel: string;
	statusOnHoldLabel?: string;
	statusDroppedLabel?: string;
	showExtendedFilters: boolean;
}

const {
	filterAllLabel,
	statusWatchingLabel,
	statusPlannedLabel,
	statusCompletedLabel,
	statusOnHoldLabel,
	statusDroppedLabel,
	showExtendedFilters,
} = Astro.props;
---

<div class="anime-filter-container flex flex-wrap gap-2">
	<button class="anime-filter-tag anime-active" data-status="all"
		>{filterAllLabel}</button
	>
	<button class="anime-filter-tag" data-status="watching"
		>{statusWatchingLabel}</button
	>
	<button class="anime-filter-tag" data-status="planned"
		>{statusPlannedLabel}</button
	>
	<button class="anime-filter-tag" data-status="completed"
		>{statusCompletedLabel}</button
	>
	{
		showExtendedFilters && (
			<>
				<button class="anime-filter-tag" data-status="onhold">
					{statusOnHoldLabel}
				</button>
				<button class="anime-filter-tag" data-status="dropped">
					{statusDroppedLabel}
				</button>
			</>
		)
	}
</div>
