---
import { socialConfig } from '@constants/site-config';
import { cn } from '@lib/utils';
import { Icon } from 'astro-icon/components';
import { capitalize } from 'es-toolkit';
---

<!-- TODO: use CSS squircle corner-shape replace the rounded-xl border-radius with a squircle corner-shape (https://www.squircle.style/) -->
<div class="mt-2 grid grid-cols-3 gap-2">
  {
    Object.entries(socialConfig).map(([key, config]) => {
      const { url, icon, color } = config;
      return (
        <div>
          <a
            class={cn(
              'social-link flex-center group relative overflow-hidden rounded-xl px-1.5 py-1 transition-all duration-300 group-hover:scale-105',
            )}
            style={color ? `--link-color: ${color}` : ''}
            data-platform={key}
            href={url}
            title={capitalize(key)}
            data-tooltip-interactive="false"
            data-tooltip-placement="top"
            aria-label={capitalize(key)}
            target="_blank"
           >
            <Icon name={icon} class="inline-block size-6" />
            <span class="absolute inset-0 -z-10 -translate-x-full translate-y-full rounded-xl transition-transform duration-300 group-hover:translate-x-0 group-hover:translate-y-0" />
          </a>
        </div>
      );
    })
  }
</div>

<style>
  .social-link {
    /* background-color: color-mix(in srgb, var(--link-color) 20%, transparent); */
    color: var(--link-color);
  }
  .social-link span {
    background-color: var(--link-color);
  }
  .social-link:hover {
    color: hsl(var(--background));
  }

  /* 暗色模式下的特殊处理 */
  :global(.dark) .social-link[data-platform='github'] {
    color: hsl(var(--foreground));
  }
</style>
